    
      <div class="container" style="padding: 10px;align-self: center">
        <div class="jumbotron" style="background-image: url(https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);margin-top: 30px; padding: 150px;image-resolution: inherit">
       
        <h1 style="color: aliceblue;margin-top: 30px;text-align: center">Hello There!</h1>    
        <h2 style="color: aliceblue;text-align: center">Welcome to myPortFolio</h2>
        <p style="color: aliceblue;text-align: center">You are accessing My New Simple PortFolio...</p>
        </div>
        </div>
        
        
        
        
        